@import url("var.css");
@import url("util.css");
@import url("grid.css");
@import url("layout.css");
@import url("spinner.css");

body {
  margin: 0px;
  font-family: var(--font);
  font-size: 14px;
  color: var(--color-dark);
}

dt {
  float: left;
  clear: left;
  width: 200px;
  padding: var(--size-1);
}

dd {
  padding: var(--size-1);
  font-weight: bold;
}

a {
  color: var(--color-dark)
}